<form class="example-form" [formGroup]="avocatForm">
  <mat-form-field class="example-full-width" appearance="fill" color="primary">
    <h2>Formulaire d'ajout d'avocat</h2>
    <input matInput disabled>
  </mat-form-field>

  <table class="example-full-width" cellspacing="0">
    <td>
      <tr>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label >Nom</mat-label>
        <input formControlName="nom" matInput>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="example-full-width" appearance="outline">
        <mat-label for="PrenomId">Prenoms</mat-label>
        <input matInput formControlName="prenoms">
      </mat-form-field>
      </tr>
    </td>
  </table>
  <table class="example-full-width" cellspacing="0">
    <td>
    <tr>
      <mat-form-field class="example-full-width" appearance="outline">
      <mat-label >Ville</mat-label>
      <input formControlName="ville" matInput placeholder="Ex. Nice">
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field class="example-full-width" appearance="outline">
      <mat-label >Pays</mat-label>
      <input formControlName="pays" matInput placeholder="Ex. France">
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field class="example-full-width" appearance="outline">
      <mat-label for="tarifH">Tarif/heure</mat-label>
      <input formControlName="prixHeure" matInput #postalCode maxlength="5" placeholder="Ex. 150">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field>
    </tr>
  </td>
  </table>
  <section>
    <div mat-dialog-actions class="example-button-row" [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close >Fermer</button>
      <button mat-raised-button color="primary">Sauver</button>
    </div>
  </section>

</form>
<pre>
  {{avocatForm.value|json}}
</pre>
